/* 
    Document   : stilo
    Created on : 07/08/2012, 14:37:49
    Author     : CCE
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    margin:0px;
    padding:0px;
    background-color: #3999ff;
}
.menu{  
    background-color: #4cb2ea;
    position: absolute;
    font-size: x-large;
    color: #666666;
    width: 960px;
    height: 33px;
    right: 170px;
    bottom: 510px;
}
.principal {
    background-color: #3999ff;
    position: absolute;
    width: 1000px;
    height: 700px;
    visibility: visible;
    top: 160px;
    right: 100px;
    bottom: 200px;
    left: 200px;
}
.logo {
    position: absolute;
    background-color: #ffffff; 
    width: 960px;
    height: 160px;
    top: -2px;
    right: 80px;
    bottom: 300px;
    left: 20px;
}
.login {
    position: absolute;
    background-color: #ffffff;
    color: #666666;
    width: 280px;
    height: 130px;
    top: 180px;
    left: 700px; 
}
.conteudo {
    position: absolute;
    background-color: #ffffff;
    width: 650px;
    height: 500px;
    top: 180px;
    right: 330px;
}
.busca {
    position: absolute;
    background-color: #ffffff;
    width: 280px;
    height: 60px;
    right: 20px;
    bottom: 310px;
}
.divcadastro {
    position: absolute;
    background-color: #ffffff;
    width: 650px;
    height: 500px;
    top: 190px;
    right: 330px;
}
.divcadastrotitulo {
    position: absolute;
    background-color: #ffffff;
    font-size: x-large;
    color: #0099cc;
    width: 220px;
    height: 50px;
    right: 220px; 
    bottom: 430px;
}


